* { 
    margin: 0; 
    padding: 0; 
}
.xft {
	min-height: 57px;
	background: url("../imgs/header.png") repeat-x scroll 0 0
		transparent;
}

.xq {
	width: 960px;
	margin: 0 auto;
}

.xdt {
/* 	background: url("../imgs/logo.png") no-repeat scroll 0 0 transparent; */
	color: #fff;
	display: block;
	height: 33px;
	position: absolute;
	top: 8px;
	left: 80px;
	outline: none;
	text-indent: -9999px;
	width: 100px;
}

.xls {
	float: left;
	margin: 4px 20px 0 20px;
	position: relative;
}

.xjs {
	padding: 0;
	margin: 0;
}

.xis {
	position: relative;
	float: left;
	margin: 10px 0 0 30px;
	list-style: none;
}

.xhs,.xhs:visited,.xhs:active {
	color: #FFF;
	text-decoration: none;
}

.xhs:hover {
	color: #FFF;
	text-decoration: none;
}

.xhs {
	font-weight: bold;
	display: block;
	color: #EEE;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	line-height: 1;
	padding: 5px 0;
}

#assetsUpload{
	color:#ff9966;
}

