body{
  font-family:Arial,Helvetica,sans-serif,"宋体";
  font-size: 13px;
  position: relative;
  height: 100%;
}

 #legend{
 	 text-align: center;
	 display: block;
	 width: 100%;
	 padding: 0;
	 margin-bottom: 27px;
	 font-size: 17.5px;
	 line-height: 36px;
	 color: #333333;
	 border: 0;
	 border-bottom: 1px solid #eee;
 }
 
#content{
	margin :0px auto;
	 height: auto;
	 width: 650px;
	 /*border: 1px solid #FF0000;*/
}

#leftPanel{
	 float: left;
	 height: auto;
	 width: 300px;
	 border: 1px solid #69c;
/* 	 padding:12px; */
}

#rightPanel{
	 float: right;
	 height: auto;
	 width: 300px;
	 border: 1px solid #69c;
/* 	 margin-left: 350px; */
/* 	 position:fixed; */
/* 	 padding:12px; */
}


#parentAdd{
	padding:5px;
	font-size: 15px;
	font-weight: bold;
}

#childAdd{
	padding:5px;
	font-size: 15px;
	font-weight: bold;
}

#parentLabel img{
	vertical-align:bottom;
	float:right;
}

#childLabel img{
	vertical-align:bottom;
	float:right;
}

.odd {
	background-color: #dbe8f0;
	padding:6px;
}

.ldd {
    background-color: #f5f5f5;
    padding:6px;
}

.child{
	  padding:3px;
}

span{
	cursor:pointer;
	text-decoration: none;
}

span:HOVER{
	text-decoration: underline;
}

.extendCss { color:blue; }



