.tips_tab {
	border: solid 1px #CDCDCD;
	margin-left:32px;
	background: #F3F3F3;
	width:750px;
}

.tipTab_sorts{
	background: #F3F3F3;
	z-index: 999;
	line-height: 28px;
	padding:2px;
	
/* 	white-space:nowrap; */
/*  	word-break:keep-all;	 */
/*  	overflow:auto; */
}


.tips_tab .tipTab_sorts a.current {
	background: white;
/* 	border: solid 1px #E8E8E8; */
	border-top: solid 1px #999;
	border-left: solid 1px #E8E8E8;
	border-right: solid 1px #E8E8E8;
	padding:6px;
}

.tips_tab .tipTab_sorts a {
	padding: 3px 5px;
}

.tips_tab .tip_win {
	display: block;
	float: right;
	margin-top:2px;
	margin-right:6px;
	background: #F3F3F3;
}

.tips_tab .tip_left{
	display: block;
	float: left;
	margin-top:2px;
	margin-left: 2px;
	background: #F3F3F3;
}

.tips_tab .tip_right{
	display: block;
	float: right;
	margin-top:2px;
	margin-right:2px;
	background: #F3F3F3;
}

.tips_tab .tipTab_content {
	background: white;
	padding: 4px 6px;
	line-height: 28px;
}

